%h2{:style => "text-align: center"} Jak mogę pomóc ?
%br/
%br/
%h2
  Szanowni Państwo
  %br/
  %br/
  Pełna wdzięczności i nadziei po raz kolejny zwracam się do Państwa z gorącą prośbą
  o przekazanie mi 1% z Waszego podatku, bym mogła kontynuować leczenie.
  %br/
  %br/
  W PRZEKAZANIU 1% PODATKU NALEŻY PODAĆ:
  %br/
  %ul
    %li.light
      Nazwa Organizacji Pożytku Publicznego /OPP/:
      %br
      Stowarzyszenie Na Rzecz Rozwoju Hałcnowa
    %li.light
      Numer Krajowego Rejestru Sądowego /KRS/: 0000232680
    %li.light
      wyliczoną kwotę 1% podatku: ........
  %br
  %b Koniecznie z dopiskiem "pomoc dla Urszuli"  
  %br
  %br
  Jeszcze raz serdecznie dziękuje, życzę dużo zdrowia i wszelkiej pomyślności.
  %br
  %br
  %div{:style => "text-align: right;"} Urszula Sablik
  %br
  %br
  %br
%h3
  PRZEKAŻCIE PROSZĘ MOJĄ PROŚBĘ SWOIM PRZYJACIOŁOM - MOŻE I ONI ZECHCĄ MI POMÓC