%h2{:style => "text-align: center"} Jak mogę pomóc ?
%br/
%br/
%h3{:style => "text-align: center"}
  Każdy może wpłacić pieniądze na konto
  %br/
  %br/
  %b
    %span{:style => "color: rgb(255, 0, 0); "}
      %big
        %big
          PCK Bielsko-Biała
          %br/
          %br/
          ING Bank Śląski S. A. Oddział Bielsko-Biała
          %br/
          %br/
          PL 73 1050 1070 1000 0001 0004 1979 ING BPLPW
          %br/
          %br/
          %u
          z dopiskiem "DLA URSZULI SABLIK"
  %br/
  %br/
  %br/
  Dziękuje serdecznie za zainteresowanie się moją osobą i proszę o pomoc.
  %br/
  Będziemy szczerze wdzięczni za każdą, nawet najmniejszą wpłatę.
  %br/
  %br/
  %big{:style => "text-align: center"} Informacja dla osób, którzy w rozliczeniu za rok 2007 chcieliby przekazać 1% swojego podatku na leczenie Urszuli Sablik:
  %br/
  %br/
  W zeznaniach podatkowych: PIT-28, PIT-36, PIT-36L, PIT-37, PIT-38 należy wpisać w odpowiednie miejsce w rubrykę/ następujące trzy elementy:
  %br/
  %br/
  1.	Nazwa organizacji pożytku publicznego /OPP/ - Polski Czerwony Krzyż
  %br/
  %b 2.	Numer Krajowego Rejestru Sądowego – 0000225587
  %br/
  3.	Wyliczoną kwotę 1% podatku
  %br/
  %br/
  Ponadto w rubryce „Inne informacje, w tym ułatwiające kontakt z podatnikiem”, koniecznie dopisać
  %br/
  %br/
  %i
    Zarząd Rejonowy PCK w Bielsku-Białej – „Dla Urszuli Sablik”
  %br/
  %br/
  Informacje tę należy wpisać:
  %br/
  w PIT-28 – poz. Nr 135
  %br/
  w PIT-36 – poz. Nr 311
  %br/
  w PIT-36L – poz. Nr 107
  %br/
  w PIT-37 – poz. 123
  %br/
  w PIT-38 – poz. 59.
  %br/
  %br/
  Urszula Sablik