%h2{:style => "text-align: center"} Jak mogę pomóc?
%br/
%br/
%h2
  Drodzy Państwo
  %br/
  %br/
  Nazywam się Urszula Sablik. Pełna wdzięczności i nadziei po raz kolejny zwracam się do Państwa z gorącą prośbą
  o przekazanie mi 1% z Waszego podatku, bym mogła kontynuować leczenie i rehabilitację.
  %br/
  %br/
  %p{:class => "info"} Z przykrością informuję, że po 11 latach zmieniły się dane do przekazania 1%!
  %br/
  W PRZEKAZANIU 1% PODATKU NALEŻY PODAĆ:
  %br/
  %ul
    %li.light
      Nazwa OPP: Parafialno-Szkolny Klub Sportowy "Beskidy"
    %li.light
      Nr KRS: 0000232640
    %li.light
      %b Koniecznie z nowym dopiskiem: "Rehabilitacja Urszula Sablik"
  %br

  %br
  Jeszcze raz serdecznie dziękuje, życzę dużo zdrowia i wszelkiej pomyślności.
  %br
  %br
  %div{:style => "text-align: right;"} Urszula Sablik
  %br
  %br
  %br
%h3
  PRZEKAŻCIE PROSZĘ MOJĄ PROŚBĘ SWOIM PRZYJACIOŁOM - MOŻE I ONI ZECHCĄ MI POMÓC