%h2 Ważne dokumenty
%br/
%table{:border => "0", :cellpadding => "5", :cellspacing => "4", :style => "text-align: left; width: 674px;"}
  %tbody
    %tr
      %td{:style => "width: 160px;"}
        %b Porozumienie z PCK
      %td{:style => "width: 160px;"}
      %td{:style => "width: 160px;"}
        %b Technologia medyczna
      %td{:style => "width: 160px;"}
    %tr
      %td{:style => "width: 160px;"} Cały dokument
      %td{:style => "width: 160px;"} Powiększenie
      %td{:style => "width: 160px;"} Oryginał (język rosyjski)
      %td{:style => "width: 160px;"} Tłumaczenie na jęz. polski
    %tr
      %td{:style => "width: 160px;"}
        %a{:href => "images/docs/pck.jpg", :target => "_top"}
          %img{:alt => "porozumienie z PCK", :src => "images/docs/tpck.jpg", :style => "border: 0px solid ; width: 150px; height: 200px;"}/
      %td{:style => "width: 160px;"}
        %a{:href => "images/docs/pck_zoom.jpg", :target => "_top"}
          %img{:alt => "porozumienie z PCK", :src => "images/docs/tpck_zoom.jpg", :style => "border: 0px solid ; width: 150px; height: 200px;"}/
      %td{:style => "width: 160px;"}
        %a{:href => "images/docs/kons.jpg", :target => "_top"}
          %img{:alt => "technologia medyczna", :src => "images/docs/tkons.jpg", :style => "border: 0px solid ; width: 150px; height: 200px;"}/
      %td{:style => "width: 160px;"}
        %a{:href => "images/docs/konsultacja_pl_1.jpg", :target => "_top"}
          %img{:alt => "technologia medyczna", :src => "images/docs/tkonsultacja_pl_1.jpg", :style => "border: 0px solid ; width: 150px; height: 200px;"}/
    %tr
    %tr
    %tr
    %tr
    %tr
    %tr
    %tr
    %tr
    %tr
      %td{:style => "width: 160px;"}
        %b Program leczenia
      %td{:style => "width: 160px;"}
      %td{:style => "width: 160px;"}
        %b Konsultacja medyczna
      %td{:style => "width: 160px;"}
    %tr
      %td{:style => "width: 160px;"} Oryginał (język rosyjski)
      %td{:style => "width: 160px;"} Tłumaczenie na jęz. polski
      %td{:style => "width: 160px;"} Oryginał (język rosyjski)
      %td{:style => "width: 160px;"} Tłumaczenie na jęz. polski
    %tr
      %td{:style => "width: 160px;"}
        %a{:href => "images/docs/program_leczenia_r.jpg", :target => "_top"}
          %img{:alt => "program leczenia", :src => "images/docs/tprogram_leczenia_r.jpg", :style => "border: 0px solid ; width: 150px; height: 200px;"}
      %td{:style => "width: 160px;"}
        %a{:href => "images/docs/program_leczenia_pl.jpg", :target => "_top"}
          %img{:alt => "program leczenia", :src => "images/docs/tprogram_leczenia_pl.jpg", :style => "border: 0px solid ; width: 150px; height: 200px;"}
      %td{:style => "width: 160px;"}
        %a{:href => "images/docs/konsultacja_r_zoom.jpg", :target => "_top"}
          %img{:alt => "konsultacja medyczna", :src => "images/docs/tkonsultacja_r_zoom.jpg", :style => "border: 0px solid ; width: 150px; height: 200px;"}
      %td{:style => "width: 160px;"}
        %a{:href => "images/docs/konsultacja_pl.jpg", :target => "_top"}
          %img{:alt => "konsultacja medyczna", :src => "images/docs/tkonsultacja_pl.jpg", :style => "border: 0px solid ; width: 150px; height: 200px;"}