%h2 Definicja choroby
%br/
%br/
%h3 Zawał rdzenia kręgowego oznacza uraz rdzenia kręgowego na skutek niedostatku tlenu.
%br/
%br/
%h2 Opis choroby
%br/
%br/
%h3
  Rdzeń kręgowy jest częścią centralnego systemu nerwowego. Ta bardzo delikatna i skomplikowana struktura jest niezbędna
  do prawidłowego funkcjonowania całego ludzkiego organizmu. Działa jako dwukierunkowy system przekaźnikowy komunikujący
  mózg z obwodowym układem nerwowym. Zrozumiałe jest więc, że zniszczenie tkanek rdzenia prowadzi do poważnych, nieodwracalnych zmian.
%br
%br
%h3
  Zawał rdzenia kręgowego zdarza się kiedy w jednej z trzech główych tętnic, które dostarczają krew (a przy tym tlen) do
  rdzenia kręgowego pojawia się zator. W rezultacie tego zatoru rdzeń kręgowy pozbawiony jest tlenu, a co za tym idzie następuje
  uszkodzenie i zniszczenie narażonych na niebezpieczeństwo włókien nerwowych, niezwykle istotnych przy przewodzeniu impulsów w organizmie.
  Niepełnosprawność, która jest efektem niedotlenienia zależy od stopnia uszkodzenia rdzenia kręgowego. Wszystko, co znajduje się
  za powstałym zatorem ulega zawałowi.
%br/
%br/
%h2 Statystyki
%br/
%br/
%h3 Zawał rdzenia kręgowego jest stosunkowo rzadkim schorzeniem, dotyka zaledwie 12 na 100.000 osób.
%br/
%br/
%h2 Efekty choroby
%br/
%br/
%h3 Pełny lub częściowy paraliż.
%br/
%br/
%h2 Leczenie
%br/
%br/
%h3 Szansą dla mnie jest zabieg wszczepienia komórek macierzystych. Komórki te mogą rozwinąć się w dowolny typ komórek i teoretycznie zastąpić te uszkodzone, których organizm nie jest w stanie odtworzyć (w moim przypadku są to komórki nerwowe rdzenia). Jest to szansa na przynajmniej częściowe cofnięcie paraliżu.
%br/
%br/
%small
  Źródła:
  %br/
  %a{:href => "http://www.enotes.com/neurological-disorders-encyclopedia/spinal-cord-infarction", :target => "_top"}
    www.enotes.com/neurological-disorders-encyclopedia/spinal-cord-infarction
  %br/
  %a{:href => "http://www.emedicine.com/neuro/topic348.htm", :target => "_top"}
    www.emedicine.com/neuro/topic348.htm
  %br