%h2 Klinika Odtwórczej Neurologii Interwencyjnej i Terapii “Neurovita”
%br/
%br/
%div{:style => "text-align: center;"}
  %img{:alt => "klinika NeuroVita", :src => "images/neurovita.jpg", :style => "border: 0px solid ; width: 260px; height: 189px;"}/
%br/
%br/
%h3
  Klinika powstała w maju 2002 roku na bazie Rosyjskiego Onkologicznego Centrum Naukowego Rosyjskiej Akademii Nauk Medycznych
  pod kierunkiem prof. A.S.Briuchowieckiego. Wyróżniającą osobliwością Kliniki jest wdrażanie i wszechstronne wykorzystanie nowych
  wysokich technologii medycznych w diagnostyce i leczeniu ciężkich postaci schorzeń oraz urazów układu nerwowego.
  %br/
  %br/
  Połączenie specjalistycznego badania klinicznego z nowoczesnymi metodami rentgenokontrastowymi umożliwiają lekarzom Kliniki
  z dużym prawdopodobieństwem w krótkim czasie zdiagnozowanie najbardziej skomplikowanej patologii mózgu i rdzenia kręgowego
  oraz obwodowego i autonomicznego układu nerwowego. Do dyspozycji naszych pacjentów jest cała potęga diagnostyczna i lecznicza
  jednej z najlepiej wyposażonych instytucji medycznych Rosyjskiej Akademii Nauk Medycznych.
  %br/
  %br/
  Do chwili obecnej wiarygodnie stwierdzono, że w 44% przypadków stosowania metodyk  w Klinice udaje się przywrócić
  zaburzone czynności w skrajnie ciężkich przypadkach pacjentów z poważnym morfologicznym ubytkiem rdzenia, a stosowanie
  ich w przypadku urazu mózgu/rdzenia pozwoli obniżyć śmiertelność i ciężkie inwalidztwo praktycznie trzykrotnie.
  %br/
  %br/
  Wszystkie świadczone w Klinice usługi, stosowane metody i technologie są dozwolone przez Ministerstwo Zdrowia FR,
  mają licencje i atesty, potwierdzone unikalnymi patentami i wynalazkami.
  %br/
  %br/
  %br/
  %br/
%small
  Zródło:
  %br/
  %a{:href => "http://sonia.low.pl/sonia/rady/novavita_pl.htm", :target => "_top"} 
    Wywiad z prof. A.S.Briuchowieckim