%h2 Strona Urszuli Sablik
%br/
%h3
  %table{:border => "0", :cellpadding => "2", :cellspacing => "2", :style => "text-align: left; width: 100%;"}
    %tbody
      %tr
        %td{:style => "width: 277px;"}
          #gallery
            %img{:alt => "zdjęcie", :src => "images/photos/tula_4.jpg", :style => "padding-right: 40px"}
          %p{:style => "text-align: left"}
        %td{:style => "width: 500px;"}
          Witam wszystkich na mojej domowej stronie internetowej.
          Zachęcam do zapoznania się z informacjami na temat mojej osoby i problemów zdrowotnych, związanych z chorobą rdzenia kręgowego.
          %br
          %br
          Być może wiedza ta pomoże Tobie, Twoim najbliższym lub osobom, które nie wiedzą gdzie takiej pomocy szukać.
          %br
          %br
          %big Kontakt:
          %p 43-344 Bielsko-Biała
          %p Ul. Muzealna 5
          %p Telefon: 0048 338175529
          %p E-mail: urszulasablik (at) wp.pl