%h2 Galeria fotografii. Kliknij zdjęcie aby je powiększyć.
%br/
%p
  #gallery
    .picture
      %a.gal{:href => "images/photos/zerowka1.jpg" }
        %img{:alt => "zdjęcie z grupą dzieci z zerówki", :src => "images/photos/tzerowka1.jpg" }
      %br
      %p Ja z jedną z wielu moich grup
    .picture
      %a.gal{:href => "images/photos/zerowka22.jpg" }
        %img{:alt => "zdjęcie z grupą średniaków", :src => "images/photos/tzerowka22.jpg" }
      %br
      %p Ja i moi wychowankowie podczas uroczystości Dnia Babci
    .picture
      %a.gal{:href => "images/photos/rodzina.jpg" }
        %img{:alt => "ja i moja rodzina", :src => "images/photos/trodzina.jpg" }
      %br
      %p Moja rodzina i ja
    .picture
      %a.gal{:href => "images/photos/wdomu.jpg" }
        %img{:alt => "ja i moja rodzina", :src => "images/photos/twdomu.jpg" }
      %br
      %p W domu
    .picture
      %a.gal{:href => "images/photos/ogrod.jpg" }
        %img{:alt => "ja i moja rodzina", :src => "images/photos/togrod.jpg" }
      %br
      %p Moja pasja - ogród