%h2 Galeria fotografii. Kliknij zdjęcie aby je powiększyć.
%br/
%p
  %b Ja z jedną z wielu moich grup
  %br
  %a{:href => "images/photos/zerowka1.jpg", :target => "_top"}
    %img{:alt => "zdj\304\231cie z grup\304\205 dzieci z zer\303\263wki", :src => "images/photos/tzerowka1.jpg", :style => "border: 0px solid ; width: 130px; height: 100px;"}/
  %br
  %b Ja i moi wychowankowie podczas uroczystości Dnia Babci
  %br
  %a{:href => "images/photos/zerowka22.jpg", :target => "_top"}
    %img{:alt => "zdj\304\231cie z grup\304\205 \305\233redniak\303\263w", :src => "images/photos/tzerowka22.jpg", :style => "border: 0px solid ; width: 130px; height: 100px;"}/
  %p
    %b Moja rodzina i ja
  %a{:href => "images/photos/rodzina.jpg", :target => "_top"}
    %img{:alt => "ja i moja rodzina", :src => "images/photos/trodzina.jpg", :style => "border: 0px solid ; width: 80px; height: 100px;"}
  %a{:href => "images/photos/wdomu.jpg", :target => "_top"}
    %img{:alt => "ja i moja rodzina", :src => "images/photos/twdomu.jpg", :style => "border: 0px solid ; width: 130px; height: 100px;"}
  %p
    %b Moja pasja - ogród
  %a{:href => "images/photos/ogrod.jpg", :target => "_top"}
    %img{:alt => "ja i moja rodzina", :src => "images/photos/togrod.jpg", :style => "border: 0px solid ; width: 130px; height: 100px;"}