%h2 Galeria fotografii. Kliknij zdjęcie aby je powiększyć.
%br/
%p
  #gallery
    .gallery-row
      %b Ja z jedną z wielu moich grup
      %br
      %a.gal{:href => "images/photos/zerowka1.jpg" }
        %img{:alt => "zdjęcie z grupą dzieci z zerówki", :src => "images/photos/tzerowka1.jpg" }
      %b Ja i moi wychowankowie podczas uroczystości Dnia Babci
      %a.gal{:href => "images/photos/zerowka22.jpg" }
        %img{:alt => "zdjęcie z grupą średniaków", :src => "images/photos/tzerowka22.jpg" }
    .gallery-row
      %b Moja rodzina i ja
      %br
      %a.gal{:href => "images/photos/rodzina.jpg" }
        %img{:alt => "ja i moja rodzina", :src => "images/photos/trodzina.jpg" }
      %a.gal{:href => "images/photos/wdomu.jpg" }
        %img{:alt => "ja i moja rodzina", :src => "images/photos/twdomu.jpg" }
      %b Moja pasja - ogród
      %br
      %a.gal{:href => "images/photos/ogrod.jpg" }
        %img{:alt => "ja i moja rodzina", :src => "images/photos/togrod.jpg" }