%h2 Galeria fotografii. Kliknij zdjęcie aby je powiększyć.
%br/
%p
  #gallery
    .picture
      %a.gal{:href => "images/photos/zerowka1.jpg" }
        %img{:alt => "zdjęcie z grupą dzieci z zerówki", :src => "images/photos/tzerowka1.jpg" }
      %br
      %p Ja z jedną z wielu moich grup
    .picture
      %a.gal{:href => "images/photos/zerowka22.jpg" }
        %img{:alt => "zdjęcie z grupą średniaków", :src => "images/photos/tzerowka22.jpg" }
      %br
      %p Ja i moi wychowankowie podczas uroczystości Dnia Babci
    .picture
      %a.gal{:href => "images/photos/rodzina.jpg" }
        %img{:alt => "ja i moja rodzina", :src => "images/photos/trodzina.jpg" }
      %br
      %p Moja rodzina i ja
    .picture
      %a.gal{:href => "images/photos/wdomu.jpg" }
        %img{:alt => "ja i moja rodzina", :src => "images/photos/twdomu.jpg" }
      %br
      %p W domu
    .picture
      %a.gal{:href => "images/photos/ogrod.jpg" }
        %img{:alt => "ja i moja rodzina", :src => "images/photos/togrod.jpg" }
      %br
      %p Moja pasja - ogród
    .picture
      %a.gal{:href => "images/photos/pani_ula_neuro.jpg" }
        %img{:alt => "ja i moja rodzina", :src => "images/photos/tpani_ula_neuro.jpg" }
      %br
      %p Wizyta w klinice Neurovita
    .picture
      %a.gal{:href => "images/photos/neurovita_1.jpg" }
        %img{:alt => "ja i moja rodzina", :src => "images/photos/tneurovita_1.jpg" }
      %br
      %p W tle klinika Neurovita
    .picture
      %a.gal{:href => "images/photos/neurovita_2.jpg" }
        %img{:alt => "ja i moja rodzina", :src => "images/photos/tneurovita_2.jpg" }
      %br
      %p Przed wejściem do kliniki neurovita
    .picture
      %a.gal{:href => "images/photos/neurovita_4.jpg" }
        %img{:alt => "ja i moja rodzina", :src => "images/photos/tneurovita_4.jpg" }
      %br
      %p Podczas badań w klinice
    .picture
      %a.gal{:href => "images/photos/neurovita_5.jpg" }
        %img{:alt => "ja i moja rodzina", :src => "images/photos/tneurovita_5.jpg" }
      %br
      %p Z lekarzem neurologiem
    .picture
      %a.gal{:href => "images/photos/neurovita_6.jpg" }
        %img{:alt => "ja i moja rodzina", :src => "images/photos/tneurovita_6.jpg" }
      %br
      %p Rehabilitacja
    .picture
      %a.gal{:href => "images/photos/neurovita_3.jpg" }
        %img{:alt => "ja i moja rodzina", :src => "images/photos/tneurovita_3.jpg" }
      %br
      %p Spotkanie wielkanocne z Panem Edwardem Kołkiem, prezesem Stowarzyszenia na Rzecz Rozwoju Hałcnowa oraz Panią Iwoną Gębalą